---
import Layout from '../layouts/Layout.astro';
import Member from '../components/Member.astro';

import {teamMembers} from '../utils/team'

---

<Layout title="Plus creative Solutions">
  <div class="container text-center flex flex-col justify-center items-center gap-3 h-[300px]">
    <h1>About Us</h1>
    <h2>Your Trusted Partner in Web Development</h2>
    <p class="md:w-6/12">With years of experience in the industry, we pride ourselves on delivering top-notch web solutions. Our team of developers and designers work collaboratively to bring your vision to life.</p>
  </div>
  <div class="container px-5">
    <div class="flex flex-wrap text-center justify-center gap-3">
      <h3 class="w-full mb-5">Meet Our Team</h3>
      {
        teamMembers.map((member) => (
          <Member image={member.image} name={member.name} position={member.position}/>
        ))
      }
    </div>
  </div>
</Layout>