---
import Layout from '../layouts/Layout.astro';
import {Button} from '@nextui-org/react';
---

<Layout title="Plus creative Solutions">
		<div class="column-2 gap-4">
			<div>
				<h2 class="text-2xl">Transform Your Business with Cutting-Edge Web Solutions</h2>
				<h3 class="text-xl">We create custom websites that drive traffic, engagement, and conversions.</h3>
			</div>
		</div>
</Layout>