---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Plus creative Solutions">
  <div class="container text-center flex flex-col justify-center items-center gap-3 h-[300px]">
    <h1>Our Services</h1>
    <h2>Comprehensive Web Solutions</h2>
  </div>
  <div class="container">
    <div class="text-center grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 ">
      <div>
        <h3>WordPress Development</h3>
        <p>Custom themes, plugins, and more to tailor your WordPress site to your needs.</p>
      </div>
      <div>
        <h3>Responsive Design</h3>
        <p>Ensuring your site looks great on all devices, from desktops to smartphones.</p>
      </div>
      <div>
        <h3>E-commerce Solutions</h3>
        <p>Building online stores that are secure, scalable, and user-friendly.</p>
      </div>
      <div>
        <h3>Website Maintenance</h3>
        <p>Regular updates, backups, and performance optimization to keep your site running smoothly.</p>
      </div>

    </div>
  </div>
</Layout>