---
interface Props {
	title: string;
}
import { ViewTransitions } from 'astro:transitions';
import {NextUIProvider} from "@nextui-org/react";

const { title } = Astro.props;
const { pathname } = Astro.url;

import Navbar from '../components/Navbar'

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
		<!-- <script>
      (function() {
        const storedTheme = localStorage.getItem('theme');
        const prefersDark = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;
        const theme = storedTheme || (prefersDark ? 'dark' : 'light');
        document.documentElement.classList.add(theme);
      })();
    </script> -->
	</head>
		<NextUIProvider>
			<Navbar path={pathname} client:only/>
			<slot />
		</NextUIProvider>
</html>
<style is:global>
	body {
		@apply transition-colors duration-300 ease-in-out;
	}
	h1 {
		@apply text-4xl font-bold mt-2 mb-4;
	}

	h2 {
		@apply text-3xl font-semibold mt-2 mb-4;
	}

	h3 {
		@apply text-2xl font-semibold mt-2 mb-3;
	}

	p {
		@apply text-base leading-relaxed mt-2 mb-2;
	}
	* {
		transition: background-color 0.3s ease;
	}

	/* :root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	} */
</style>
